<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lastpage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!---------------------------------------Header--------------------------------------->
    <div class="header-contain">
    <div class="head-section">
        <div class="logo-section">
            <h1 class="shimmer">Lastpage</h1>
        </div>
        <div class="menu-section">
            <a href="{% url 'home' %}"><div class="menu"><i class="fa fa-caret-left" style="margin-right: 5px;"></i>Home</div></a>
        </div>
    </div>
    </div>
    <!---------------------------------------Header--------------------------------------->
    <div class="page-container">

        <div class="page">
            <div class="details-profile">
                <div class="page-name" style="width: 25vb"><p style="margin: 0;padding: 3;">Book requests</p></div>
            </div>
            <div class="send-rec">
                <div class="send">
                    <div class="heading-req"><p>Send</p></div>
                    <!--------------------------------------messeges send-->
                    {% for obj in send%}
                    <a href="{% url 'bookwait' obj.exc_id %}" class="content-send">
                        <p style="margin: 0;text-transform: lowercase;">@{{obj.book.user.user_name}}</p>
                        <p style="margin: 0;font-size: small;">{{obj.book.title}}</p>
                    </a>
                    {% endfor%}
                    <!--------------------------------------messeges-->
                </div>
                <div class="receive">
                    <div class="heading-req"><p>Receive</p></div>
                    <!--------------------------------------messeges receive-->
                    {% for obj in receive%}
                    {% if not obj.rej_time %}
                    <a href="{% url 'bookaccept' obj.exc_id %}" class="content-send">
                        <p style="margin: 0;text-transform: lowercase;">@{{obj.user.user_name}}</p>
                        <p style="margin: 0;font-size: small;">{{obj.book.title}}</p>
                    </a>
                    {% endif %}
                    {% endfor%}
                    <!--------------------------------------messeges-->
                </div>
            </div>

        </div>

      
    </div>

</body>
</html>