<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection point</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lastpage.collection/stylecoll.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!---------------------------------------Header--------------------------------------->
    <div class="ad-header-contain">
    <div class="ad-head-section">
        <div class="ad-logo-section">
            <h1>Lastpage Collection point</h1>
        </div>
        <div class="ad-menu-section">
            <a href="{% url 'collectionhome' %}"><div class="ad-menu"><i class="fa fa-caret-left" style="margin-right: 5px;"></i>Home</div></a>
        </div>
    </div>
    </div>
    <div class="ad-page-container">
        <div class="pick">
        <p >Drop a book</p>
        <!-------------exchange-->
        {% for key_obj in key %}
        <a href="{% url 'dropotp' key_obj.exc_id %}" class="pick-list" >
            <div class="report-list">
                <p style="text-transform: lowercase;">@{{key_obj.book.user.user_name}}</p>
                <p style="text-transform: lowercase;">{{key_obj.book.title}}</p>
           </div>
        </a>
        {% endfor %}
        <!-------------exchange-->
        <!-------------return-->
        {% for key_obj in key_ret %}
        <a href="{% url 'returnotp' key_obj.exc_id %}" class="pick-list" >
            <div class="report-list">
                <p style="text-transform: lowercase;">@{{key_obj.user.user_name}}</p>
                <p style="text-transform: lowercase;">{{key_obj.book.title}}</p>
           </div>
        </a>
        {% endfor %}
        <!-------------return-->
    </div>     
    </div>
</body>
</html>