<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lastpage Admin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lastpage.lastadmin/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!---------------------------------------Header--------------------------------------->
    <div class="ad-header-contain">
    <div class="ad-head-section">
        <div class="ad-logo-section">
            <h1>Lastpage admin</h1>
        </div>
        <div class="ad-menu-section">
            <a href="{% url 'adminhome' %}"><div class="ad-menu"><i class="fa fa-caret-left" style="margin-right: 5px;"></i>Home</div></a>
        </div>
    </div>
    </div>
    <div class="ad-page-container2">
        <div class="pick">
        <p >Payment requests</p>
        <!-------------payment 1-->
        <table>
            {% for key_obj in pending %}
            {% if key_obj.status == 'Pending' %}
            <tr >                
                <td style="text-transform: lowercase;">@{{key_obj.user.user_name}}</td>
                <td style="padding-left:2vw;">₹.{{key_obj.amt}}</td>
                <td style="padding-left:2vw;">({{key_obj.upi_id}})</td>
                <td style="padding-left:2vw;">{{key_obj.time}}</td>
                <td style="padding-left:7vw;"><a style="text-decoration: none;" href="{% url 'Acceptpay' key_obj.pay_id %}">Accept</a>
                    <a style="padding-left:2vw;text-decoration: none;" href="{% url 'Rejectpay' key_obj.pay_id %}">Reject</a></td>
                
            </tr>
            {% endif %}
            {% endfor%}
        </table>
        <!-------------payment 1--->  
       </div>
       <div class="pick">
        <p >Payment history</p>
        <!-------------payment 1-->
        <table>
            {% for key_obj in pending %}
            {% if key_obj.status != 'Pending' %}
            <tr >                
                <td style="text-transform: lowercase;">@{{key_obj.user.user_name}}</td>
                <td style="padding-left:2vw;">₹.{{key_obj.amt}}</td>
                <td style="padding-left:2vw;">({{key_obj.upi_id}})</td>
                <td style="padding-left:2vw;">{{key_obj.time}}</td>
                <td style="padding-left:7vw;">{{key_obj.status}}</td>
                
            </tr>
            {% endif %}
            {% endfor%}
        </table>
        <!-------------payment 1--->  
       </div>
    </div>
</body>
</html>